<!-- The page content -->
<!-- Club section - where all clubs will be displayed -->
<section class="main-content-area">
    <!-- Keeping inline CSS so it's easy to change later on -->
    <input style="margin-left: 10px;" type="text" id="clubSearch" onkeyup="searchClubs()" placeholder="Search.." title="Type in a club">
    <div id="clubs-content">
      <ul id="wciClubs">
        <li><a href="#">Ambassadors Christian Fellowship</a></li>
        <li><a href="#">Astronomy</a></li>
        <li><a href="#">Black Student Association</a></li>
        <li><a href="#">Chess Club</a></li>
        <li><a href="#">Chinese Student Association</a></li>
        <li><a href="#">Classics Club</a></li>
        <li><a href="#">Spanish Club</a></li>
        <li><a href="#">Computer Science Club</a></li>
        <li><a href="#">Debate Club</a></li>
        <li><a href="#">DECA</a></li>
        <li><a href="#">ECO Club</a></li>
        <li><a href="#">French Club</a></li>
        <li><a href="#">Junior Guitar Ensemble</a></li>
        <li><a href="#">Gender and Sexuality Awareness Club (GSA)</a></li>
        <li><a href="#">Grad Club</a></li>
        <li><a href="#">Health Occupations Students of America (HOSA)</a></li>
        <li><a href="#">JR. LEADERSHIP</a></li>
        <li><a href="#">Muslim Student Association </a></li>
        <li><a href="#">Orchestra- Intermediate</a></li>
        <li><a href="#">Orchestra- Senior</a></li>
        <li><a href="#">WCI Science Club</a></li>
        <li><a href="#">Robotics Club</a></li>
        <li><a href="#">Spirit Club</a></li>
        <li><a href="#">Sticker Club</a></li>
        <li><a href="#">WCI TEDEd Club</a></li>
        <li><a href="#">WCI Web-Dev</a></li>
        <li><a href="#">WCI Science Club</a></li>
        <li><a href="#">Trivia Club</a></li>
        <li><a href="#">WCI Tutors!</a></li>
        <li><a href="#">Girls Fitness</a></li>
      </ul>
    </div>
  </section>
  <!-- End of Club section -->


<!-- Java script for the page -->
<script>buildClubBlocks(clubs);</script>