<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5" data-aos="fade-in">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        <h2>
          <div class="scroller" id="scrollerdiv"> <!--This makes the title text scroll-->
            <span>
              Welcome<br/>
              Bienvenue<br/>
              Willkommen<br/>
              स्वागत हे<br/>
              Välkommen<br/>
              ようこそ<br/>
              환영 <br/>
              欢迎 <br/>
              ਸੁਆਗਤ ਹੈ <br/>
              Bienvenidas <br/>
              Benvenuta <br/>
              Maligayang Pagdating <br/>
              أهلا بك <br/>
              Bem-vindo <br/>
              Witam <br/>
              خوش آمدید <br/>
              Tansi <br/>
              Atelihai <br/>
              bi-zhaazhig <br/>
              добро пожаловать
            </span>
        </div>
      </h2>
        <p>Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#about" class="btn-get-started">Get Started</a>
          <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
      </div>
    </div>
  </div>

  <div class="icon-boxes position-relative">
    <div class="container position-relative">
      <div class="row gy-4 mt-5">

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-easel"></i></div>
            <h4 class="title"><a href="./index.html" class="stretched-link">Home</a></h4>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-gem"></i></div>
            <h4 class="title"><a href="./english_examination_resources.html" class="stretched-link">English Examinations Resources</a></h4>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-geo-alt"></i></div>
            <h4 class="title"><a href="./clubs.html" class="stretched-link">Clubs</a></h4>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-command"></i></div>
            <h4 class="title"><a href="./ap_resources.html" class="stretched-link">AP Resources</a></h4>
          </div>
        </div>
        <!--End Icon Box -->

      </div>
    </div>
  </div>

  </div>
</section>
<!-- End Hero Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h3>Check Out Our <span>Services</span></h3>
      <p>At IONSPOST, we offer personalized guidance and unwavering support to help you reach your goals. Let's ignite your potential and start this journey together!</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="">Personalized Practices</a></h4>
          <p class="description">
            We offer personalized practices to ensure that our coaching strategies are tailored to your specific needs, strengths, and goals
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="">Group Training</a></h4>
          <p class="description">
            Group coaching is designed to foster collaboration, build team cohesion, and accelerate progress towards shared goals
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="">Professional Coaching</a></h4>
          <p class="description">
            You'll have access to industry experts who can provide personalized guidance and support in your chosen field
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4 class="title"><a href="">Diverse Network</a></h4>
          <p class="description">
            We offer a diverse network of experts for specialized guidance to accommodate the unique needs of every individual
          </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->